<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Text Collaboration Rooms</title>
</head>
<body>
    <p>What text collaboration room would you like to enter?</p>
    <label>Room name: <input id="room-name-input" type="text" size="100"></label><br>
    <input id="room-name-submit" type="button" value="Enter Prosemirror room">
    <input id="room-name-submit-tiptap" type="button" value="Enter TipTap room">

    <script>
        document.querySelector('#room-name-input').focus();

        function enterRoom(prefix) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.href = url;
        }

        document.querySelector('#room-name-submit').onclick = function(e) {
            enterRoom('prosemirror');
        };

        document.querySelector('#room-name-submit-tiptap').onclick = function(e) {
            enterRoom('tiptap');
        };
    </script>
</body>
</html>